MONGODB_URI=mongodb+srv://likhita:<db-password>@notes.coogls5.mongodb.net/?appName=notes
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
NUXT_PUBLIC_SITE_URL=http://localhost:3000
